<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mx.kanjo.openclothes" >


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- pick photos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.ProductGeneralActivity"
            android:label="@string/title_activity_product" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ConfigurationActivity"
            android:label="@string/title_activity_configuration"
            android:parentActivityName=".ui.ProductGeneralActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mx.kanjo.openclothes.ui.ProductGeneralActivity" />
        </activity>

        <activity
            android:name=".ui.ProductActivity"
            android:label="@string/title_activity_product"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan" >
        </activity>

        <activity
            android:name=".ui.NewSaleActivity"
            android:label="@string/title_activity_new_sale">
        </activity>

        <activity
            android:name=".ui.SaleActivity"
            android:label="@string/title_activity_show_sale">
        </activity>

        <activity
            android:name=".ui.StockGeneralActivity"
            android:label="@string/title_activity_stock" >
        </activity>

        <activity
            android:name=".ui.SalesGeneralActivity"
            android:label="@string/title_activity_sale" >
        </activity>

        <!--activity android:name=".ui.SearchActivity"
                      android:label="Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />

        </activity-->

        <provider
            android:name=".provider.OpenClothesProvider"
            android:authorities="@string/content_authority" >
        </provider>
    </application>

</manifest>
